with product
  button.paypal-button Pay with PayPal
  | {{ name }}
  | {{ sku }}
  | {{ price }}
  | {{ currency }}
  | {{ quantity }}
  | {{ amount.currency }}
  | {{ amount.total }}
  | {{ description }}